/* LOGIN */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #d3d3d3;
}
hr {
  height: 1px;
  width: 98%;
  background-color: black;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  font-size: 15px;
}
.cerrar-sesion {
  color: red;
  border: none;
  background-color: #d3d3d3;
}
.powerof {
  width: 14px;
  height: 14px;
}
/* MENU NAVEGACION */
.menu-list {
  border-radius: 8px;
  width: 100%;
  overflow: auto;
  margin: auto;
}
.menu li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}

.menu li a {
  text-decoration: none;
  color: gray;
  font-size: 18px;
}

.menu li a:hover {
  color: #4a001f;
  transition: 0.3s;
}

/* FOOTER */
.footer {
  position: relative;
  text-align: center;
  top: 45px;
  width: 100%;
  overflow: auto;
  margin: auto;
}

/* LOGIN */
.container-login {
  position: relative;
  margin: 10px;
  border-radius: 10px;
  width: 70%;
  left: 15%;
  text-align: center;
}
.container-login hr {
  width: 90%;
}
.container-inputs {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  width: 60%;
  position: relative;
  left: 18%;
}
#usuario {
  padding: 5px 0;
  margin: 15px;
  display: block;
  background: transparent;
  width: 93%;
  border: none;
  border-bottom: 1px solid black;
}
#password {
  padding: 5px 0;
  margin: 15px;
  display: block;
  background: transparent;
  width: 93%;
  border: none;
  border-bottom: 1px solid black;
}
.container-login .container-inputs .elemento input[type="submit"] {
  margin: 15px;
  padding: 15px;
  border: none;
  width: 50%;
  background-color: #4a001f;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.container-login .container-inputs .elemento input[placeholder] {
  color: white;
}
.container-login .container-inputs .elemento input[type="submit"]:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}

/* SECRETARIA PARTICULAR */
header {
  height: 50px;
}
header h5 {
  display: inline;
  color: #4a001f;
}
header input[type="button"] {
  border: none;
  border-radius: 5px;
  background-color: #d3d3d3;
}

.contenedor-salir {
  float: right;
  padding: 15px;
}
.contenedor-salir a h5 {
  font-size: 1rem;
}

.contenedor-oficios {
  width: 80%;
  height: 20%;
  overflow: auto;
  margin: auto;
}
.oficios {
  border: 1px solid black;
  border-radius: 5px;
  height: 100px;
  background-color: white;
}
#oficios-select {
  margin: 15px;
}
.contenedor-almacen {
  width: 80%;
  height: 20%;
  margin: auto;
  overflow: auto;
}
.almacen {
  border-radius: 5px;
  background-color: white;
  height: 290px;
}

/* TURNAR DOCUMENTOS - SP*/
.contenedor-turnar-documentos {
  width: 80%;
  margin: auto;
  overflow: auto;
  height: 450px;
}
.contenedor-turnar-documentos h1 {
  text-align: center;
}
.contenedor-turnar-documentos2 {
  height: 280px;
  padding: 15px;
}
.contenedor-turnar-documentos2 .tipo-oficio {
  position: relative;
  left: 15px;
}
.doc {
  background-color: white;
  overflow: scroll;
  width: 100%;
  height: 100px;
}
.btn-turnar {
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 18%;
  height: 45px;
  cursor: pointer;
  margin: 15px;
  position: relative;
  left: 80%;
}
.btn-turnar:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}

/* GENERAR DOC - SP*/
.contenedor-doc {
  width: 80%;
  height: 20%;
  margin: auto;
  overflow: auto;
  text-align: center;
}
.plantillas {
  background-color: white;
  width: 80%;
  height: 900px;
  margin: auto;
  overflow: auto;
}
.button-doc-save {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 11%;
  height: 40px;
  cursor: pointer;
}
.button-doc-deshacer {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 11%;
  height: 40px;
  cursor: pointer;
}
.button-doc-save:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}
.button-doc-deshacer:hover {
  background-color: red;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: white;
}

/* VER DOCUMENTOS - SP */
.btn-reg {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 8%;
  height: 30px;
  cursor: pointer;
}
.btn-reg:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}
.container-ver-docs {
  width: 80%;
  overflow: auto;
  margin: auto;
}
table {
  width: 100%;
  text-align: center;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
caption {
  color: #4a001f;
}
.buscar .search {
  float: right;
}
/* SP INFO */
.container-info {
  width: 90%;
  overflow: auto;
  margin: auto;
  background-color: white;
  text-align: center;
}
.container-1 {
  padding: 15px;
}
.container-2 {
  padding: 15px;
}

/* DEPTO */
.almacen {
  padding: 15px;
  border: 1px solid black;
  font-size: 16px;
}
.btn-cargar {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 18%;
  height: 45px;
  cursor: pointer;
  position: relative;
  left: 76.5%;
  bottom: 10px;
}
.btn-cargar:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}
.content-form1 {
  width: 90%;
  height: 230px;
  overflow: auto;
  margin: auto;
}
.escudo-sedeco {
  position: absolute;
  bottom: 26%;
  left: 66%;
}
.escudo-sedecoSP {
  position: absolute;
  bottom: 21%;
  left: 66%;
}
.content-form1 label {
  display: block;
}

/* ADMINISTRADOR */
#contenedor-info {
  width: 80%;
  overflow: auto;
  margin: auto;
  color: #4a001f;
}
.contenedor-altasDepto {
  padding: 20px;
  height: 500px;
  position: relative;
}
.contenedor-altasDepto2 {
  width: 90%;
  height: 400px;
  padding: 15px;
  overflow: auto;
  margin: auto;

  border: 2px solid black;
  border-radius: 8px;
}
.docs-anuales {
  float: right;
}

/* turnar */
.contenedor-form-turnar .cargar-archivo {
  position: relative;
  left: 3%;
}
.contenedor-form-turnar {
  padding: 20px;
}
.contenedor-form-turnarSP {
}
.escudo-sedeco-admin {
  position: absolute;
  left: 75%;
  bottom: 280px;
}
.btn-admin-guardar {
  margin: 15px;
  background-color: #4a001f;
  color: white;
  border-radius: 5px;
  width: 18%;
  height: 45px;
  cursor: pointer;
  position: relative;
  left: 78%;
  bottom: 65px;
}
.btn-admin-guardar:hover {
  background-color: white;
  transition: 0.4s;
  border: 1px solid #4a001f;
  color: black;
}
